#nav {
  height: 120px;
  width: 100%;
  padding: 0 15px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  transition: height 0.5s;
}

#nav img {
  height: 50px;
}

.menu-items {
  margin: 0 10px;
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}

@media (min-width: 768px) {
  #nav {
    justify-content: flex-start;
    padding: 0 115px;
  }

  .menu-items {
    margin: 0 20px;
  }
}
